<div class="container-fluid md-5 px-4 py-5">
  <div class="row gy-5 justify-content-center">
    <div class="col-md-6">
      <h1>Mis próximas vacaciones</h1>
      <h3>¡Bienvenido!</h3>
      <p>
        ¿Tienes una idea de algún lugar a donde quieras ir en tus proximas
        vacaciones pero necesitas información?
      </p>
      <p>No te preocupes, nosotros te ayudamos.</p>
      <p>
        Solamente sube una fotografía del lugar donde necesitas saber la
        ubicación y nosotros la ubicaremos por ti.
      </p>
      <p>
        Adicionalmente, también te diremos el pronóstico del clima para los
        próximos 15 días y sugerencias de cómo vestir.
      </p>
    </div>
    <div class="col-md-6">
      <img
        src="https://raw.githubusercontent.com/joseherrera7/mis-proximas-vacaciones-frontend/main/vacaciones.jpg"
        class="img-fluid"
        alt="Responsive image"
        style="padding-bottom: 25px"
      />
    </div>
    <div class="row justify-content-center">
      <div class="col-md-2">
        SUBIR IMAGEN:
        <ngp-image-picker
          style="align-items: center; padding-top: 200px"
          [_config]="imagePickerConf"
          ($imageChanged)="onImageChange($event)"
        ></ngp-image-picker>
      </div>
      <div
        class="col-md-2"
        style="display: flex; justify-content: center; align-items: center"
      >
        OR
      </div>
      <div class="col-md-2">
        TOMAR FOTO:
        <video
          style="width: 90%; margin-left: auto; margin-right: auto"
          [class.show]="!isCaptured"
          [class.hide]="isCaptured"
          #video
          id="video"
          [width]="WIDTH"
          [height]="HEIGHT"
          autoplay
        ></video>
        <canvas
          style="width: 70%; margin-left: auto; margin-right: auto"
          [class.show]="isCaptured"
          [class.hide]="!isCaptured"
          #canvas
          id="canvas"
          [width]="WIDTH"
          [height]="HEIGHT"
        ></canvas>

        <div class="snap-container">
          <button
            class="btn btn-primary"
            *ngIf="!isCaptured"
            (click)="capture()"
          >
            Tomar foto
          </button>

          <button
            class="btn btn-danger"
            *ngIf="isCaptured"
            (click)="removeCurrent()"
          >
            Tomar otra
          </button>

          <button
            class="btn btn-success"
            *ngIf="isCaptured || isUploaded"
            style="margin: 20px"
            (click)="analyze()"
          >
            Analizar foto
          </button>
        </div>
      </div>
    </div>
    <div class="row justify-content-center" *ngIf="isSearching">
      <div class="col-md-6" style="margin: 0 auto">
        <img
          style="width: 300px; height: 300px"
          class="img-fluid center-block rounded mx-auto d-block"
          src="https://cdn.dribbble.com/users/722246/screenshots/4400319/loading_crescor_dribbble.gif"
        />
      </div>
    </div>
    <div class="row justify-content-center" *ngIf="isResult">
      <div class="col-md-6" style="margin: 0 auto">
        <h3>RESULTADO</h3>
        <table>
          <tr>
            <th>Locación</th>
            <th>
              {{ data.location }}
            </th>
          </tr>
          <tr>
            <th>Ciudad</th>
            <th>
              {{ data.city }}
            </th>
          </tr>
          <tr>
            <th>País</th>
            <th>
              {{ data.country }}
            </th>
          </tr>
          <tr>
            <th>Temperatura</th>
            <th>
              {{ data.weather.temp }}
            </th>
          </tr>
          <tr>
            <th>Humedad</th>
            <th>
              {{ data.weather.humidity }}
            </th>
          </tr>
          <tr>
            <th>Latitud</th>
            <th>
              {{ data.lat }}
            </th>
          </tr>
          <tr>
            <th>Longitud</th>
            <th>
              {{ data.lon }}
            </th>
          </tr>
        </table>
      </div>
    </div>
    <form action="https://formspree.io/f/mqkwvpnr" method="POST">
      <label>
        Tu Email:
        <br />
        <input type="email" name="_replyto" />
      </label>
      <label>
        Tu resultado:
        <br />
        <textarea id="resultado" name="message"></textarea>
      </label>
      <button type="submit">Enviar</button>
    </form>

    <script type="text/javascript">
      import { useForm, ValidationError } from "@formspree/react";
      function ContactForm() {
        const [state, handleSubmit] = useForm("mqkwvpnr");
        if (state.succeeded) {
          return <p>Thanks for joining!</p>;
        }
        return (
          <form onSubmit={handleSubmit}>
            <label htmlFor="email">Email Address</label>
            <input id="email" type="email" name="email" />
            <ValidationError
              prefix="Email"
              field="email"
              errors={state.errors}
            />
            <textarea id="message" name="message" />
            <ValidationError
              prefix="Message"
              field="message"
              errors={state.errors}
            />
            <button type="submit" disabled={state.submitting}>
              Submit
            </button>
          </form>
        );
      }
    </script>
    <br /><br />
    <h2>¿Qué te pareció nuestra recomendación?</h2>
    <br />
  </div>
  <div class="row justify-content-center" *ngIf="isRecomendation">
    <div class="col-md-3">
      <img src="/assets/Imagenes/OK.jpg" width="20%" height="50%" />
      <div id="count_click"></div>
      <button id="botonClick">¡Excelente!</button>
      <p id="areaContador"></p>
      <script type="text/javascript">
        var botonElement = document.getElementById("botonClick");
        var pElement = document.getElementById("areaContador");
        var contador = 0;
        botonElement.onclick = function () {
          contador++;
          pElement.textContent = contador;
        };
      </script>
    </div>

    <div class="col-md-3">
      <img src="/assets/Imagenes/SoSo.jpg" width="30%" height="40%" />
      <div id="count_click2"></div>
      <button id="boton">No muy bueno</button>
      <p id="area"></p>
      <script type="text/javascript">
        var botonElement2 = document.getElementById("boton");
        var pElement2 = document.getElementById("area");
        var contador2 = 0;
        botonElement2.onclick = function () {
          contador2++;
          pElement2.textContent = contador2;
        };
      </script>
    </div>

    <div class="col-md-3">
      <img src="/assets/Imagenes/BAD.jpg" width="20%" height="50%" />
      <div id="count_click3"></div>
      <button id="Click">¡Todo mal!</button>
      <p id="Contador"></p>
      <script type="text/javascript">
        var botonElement3 = document.getElementById("Click");
        var pElement3 = document.getElementById("Contador");
        var contador3 = 0;
        botonElement3.onclick = function () {
          contador3++;
          pElement3.textContent = contador3;
        };
      </script>
    </div>
  </div>
</div>
