<div class="container-fluid md-5 px-4 py-5">
  <div class="row gy-5 justify-content-center">
    <div class="col-md-6">
      <h1>Mis próximas vacaciones</h1>
      <h3>¡Bienvenido!</h3>
      <p>
        ¿Tienes una idea de algún lugar a donde quieras ir en tus proximas
        vacaciones pero necesitas información?
      </p>
      <p>No te preocupes, nosotros te ayudamos.</p>
      <p>
        Solamente sube una fotografía del lugar donde necesitas saber la
        ubicación y nosotros la ubicaremos por ti.
      </p>
      <p>
        Adicionalmente, también te diremos el pronóstico del clima para los
        próximos 15 días y sugerencias de cómo vestir.
      </p>
    </div>
    <div class="col-md-6">
      <img
        src="https://raw.githubusercontent.com/joseherrera7/mis-proximas-vacaciones-frontend/main/vacaciones.jpg"
        class="img-fluid"
        alt="Responsive image"
        style="padding-bottom: 25px"
      />
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <ngp-image-picker
          style="align-items: center"
          [_config]="imagePickerConf"
          ($imageChanged)="onImageChange($event)"
        ></ngp-image-picker>

        <button class="btn btn-danger" (click)="triggerModal(modalData)">
          Open Modal
        </button>

        <ng-template #modalData let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">
              Cargando...
            </h4>
          </div>
          <div class="modal-body">
            <img style="width:300px;height:300px" class="img-fluid rounded mx-auto d-block" src="https://cdn.dribbble.com/users/722246/screenshots/4400319/loading_crescor_dribbble.gif"/>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger"
              (click)="modal.close('Save click')"
            >
              Close
            </button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
