<div class="container-fluid md-5 px-4 py-5">
  <div class="row gy-5 justify-content-center">
    <div class="col-md-6">
      <div class="titulo">Mis próximas vacaciones</div>
      <br><br>
      <h3 class="home-title">
        <span>¡Bienvenido!</span>
        <span>Viaja con la mejor guía</span>
      </h3>
      <p>
        ¿Tienes una idea de algún lugar a donde quieras ir en tus proximas
        vacaciones pero necesitas información?
 <br>
      No te preocupes, nosotros te ayudamos.
      <br>
        Solamente sube una fotografía del lugar donde necesitas saber la
        ubicación y nosotros la ubicaremos por ti.
        <br>
        Adicionalmente, también te diremos el pronóstico del clima para los
        próximos 15 días y sugerencias de cómo vestir.
   
    </div>
   
    <div class="row justify-content-center" id="foto">
      <div class="col-md-2" id="subir">
        <h4>SUBIR IMAGEN:</h4>
        <ngp-image-picker
          style="align-items: center; padding-top: 200px"
          [_config]="imagePickerConf"
          ($imageChanged)="onImageChange($event)"
        ></ngp-image-picker>
      </div>
      <div
        class="col-md-2"
        style="display: flex; justify-content: center; align-items: center"
      >
    <h4>OR</h4>
      </div>
      <div class="col-md-2">
      <h4>TOMAR FOTO:</h4>
        <video
          style="width: 90%; margin-left: auto; margin-right: auto"
          [class.show]="!isCaptured"
          [class.hide]="isCaptured"
          #video
          id="video"
          [width]="WIDTH"
          [height]="HEIGHT"
          autoplay
        ></video>
        <canvas
          style="width: 70%; margin-left: auto; margin-right: auto"
          [class.show]="isCaptured"
          [class.hide]="!isCaptured"
          #canvas
          id="canvas"
          [width]="WIDTH"
          [height]="HEIGHT"
        ></canvas>

        <div class="snap-container">
          <button
            class="btn btn-primary"
            *ngIf="!isCaptured"
            (click)="capture()"
          >
            Tomar foto
          </button>

          <button
            class="btn btn-danger"
            *ngIf="isCaptured"
            (click)="removeCurrent()"
          >
            Tomar otra
          </button>

          <button
            class="btn btn-success"
            *ngIf="isCaptured || isUploaded"
            style="margin: 20px"
            (click)="analyze()"
          >
            Analizar foto
          </button>
        </div>
      </div>
    </div>
    <div class="row justify-content-center" *ngIf="isSearching">
      <div class="col-md-6" style="margin: 0 auto">
        <img
          style="width: 300px; height: 300px"
          class="img-fluid center-block rounded mx-auto d-block"
          src="https://cdn.dribbble.com/users/722246/screenshots/4400319/loading_crescor_dribbble.gif"
        />
      </div>
    </div>
    <div class="row justify-content-center" *ngIf="isResult">
      <div class="col-md-6" style="margin: 0 auto">
        <h3>RESULTADO</h3>
        <table>
          <tr>
            <th>Locación</th>
            <th>
              {{ data.location }}
            </th>
          </tr>
          <tr>
            <th>Ciudad</th>
            <th>
              {{ data.city }}
            </th>
          </tr>
          <tr>
            <th>País</th>
            <th>
              {{ data.country }}
            </th>
          </tr>
          <tr>
            <th>Temperatura</th>
            <th>
              {{ data.weather.temp }}  K
            </th>
          </tr>
          <tr>
            <th>Humedad</th>
            <th>
              {{ data.weather.humidity }}
            </th>
          </tr>
          <tr>
            <th>Latitud</th>
            <th>
              {{ data.lat }}
            </th>
          </tr>
          <tr>
            <th>Longitud</th>
            <th>
              {{ data.lon }}
            </th>
          </tr>
          <tr>
            <th>Recomendación:</th>
            <th>
              {{ recomendacion }}
            </th>
          </tr>
        </table>
      </div>
    </div>
    
   
  </div>

</div>
